* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
img{
    display: block;
    width: 100%;
}
.main-header{
    padding: 0 20px;
}
.main-header__title{
    text-align: center;
    font-size: 2.5em;
    margin: 10px 0;
    color: rgb(143, 170, 220);
}
.main-header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header__link{
    color: black;
}
.main-nav{
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: 999999;
}
.menu{
    position: absolute;
    top: 200px;
    left: 0;
    background: #212121;
    width: 100%;
    list-style: none;
    padding: 0px;
    margin: 0;
}
.menu__item{
    text-align: center;
    margin: auto;
}
.menu__link{
    padding: 20px;
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
}
.menu__link:hover{
    background: white;
    color: #212121;
}
.mostrar{
    opacity: 1;
    visibility: visible;
}
.icon-menu{
    font-size: 1.5em;
    border: 1px solid #454546;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: auto;
}
.main-header__btn{
    display: block;
    padding: 10px 30px;
    color: #454546;
    border: 1px solid #454546;
    text-decoration: none;
}
.main-header__input{
    display: block;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    color: #454546;
    width: 50%;
}
.main {
    padding: 0 20px;
}
/*Slider*/
.container-slider{
    margin: 50px 0;
    position: relative;
    overflow: hidden;
}
.slider{
    display: flex;
    width: 400%;
    height: 300px;
    margin-left: -100%;
    position: relative;
}
.slider::before{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba (0,0,0,0.5);
    height: 100%;
}
.slider__section{
    width: 100%;
    position: relative;
}
.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /*ajuste de la imagen al contenedor*/
}
.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
}
.slider__btn:hover{
    background: #fff;
}
.slider__btn--left{
    left: 10px;
}
.slider__btn--right{
    right: 10px;
}
.slider__content{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
    z-index: 999;
}
.slider__title{
    font-size: 2.2em;
    margin: 0;
}
.slider__txt{
    margin: 5px 0;
}
.btn-shop{
    display: block;
    border: 1px solid rgb(143, 170, 220);
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 150px;
    margin: 20px auto;
    transition: all 0.5s;
}
.btn-shop:hover{
    background: rgb(143, 170, 220);
    color: white;
}
/*Estipos de productos*/
.container-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}
.product{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative;
}
.product::before {
    content: "Nuevo";
    background: green;
    padding: 10px;
    width: 60px;
    position: absolute;
    top: 20px;
    right: 10px;
    transform: rotate(-90deg);
    color: white;
}
.product__img{
    object-fit: cover;
}
.product__title{
    text-align: center;
}
.product__price{
    color: rgb(143, 170, 220);
    font-weight: bold;
}
.product__icon {
    display: block;
    margin-top: 10px;
}
.product:hover .product__icon{
    color: rgb(143, 170, 220);
}
.container-tips{
   margin: 20px 0;
   text-align: center;
}
.tip i{
    font-size: 1.5cm;
    color: rgb(65, 65, 65);
    padding: 20px 0;
}
.tip .btn-shop {
    color: rgb(143, 170, 220);
}
.tip .btn-shop:hover{
    background: rgb(143, 170, 220);
    color: white;
}
/*Footer*/
.main-footer{
    background: #151515;
    color: white;
    padding: 30px 20px;
}
.footer__title{
    border-bottom: 1px solid #555;
    padding-bottom: 20px;
}
.footer__txt{
    color: #555;
}
.footer__input{
    background: #151515;
    width: 100%;
    display: block;
    padding: 20px;
    border: 1px solid #555;
    font-family: 'Oswald', sans-serif;
}
.copy{
    color: #555;
}

/*Responsividad*/
@media screen and (min-width:768px){
    .slider{
        height: 400px;
    }
    .container-tips{
        margin: 50px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}
@media screen and (min-width:1024px){
    .container{
        width: 1008px;
        margin: auto;
    }
    .icon-menu{
        display: none;
    }
    .main-header .container--flex{
        display: flex;
        align-items: center;
    }
    .main-header__container{
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .main-header__container:nth-child(2){
        order: -1;
        width: 25%;
    }
    .main-header__txt{
        width: 100%;
    }
    .main-header__container:nth-child(3){
        width: 25%;
        padding: 0 20px;
    }
    .main-header__title{
        width: 100%;
        font-size: 4em;
        margin: 0;
        border-bottom: 1px solid #ccc;
    }
    .main-header__link{
        margin-bottom: 20px;
    }
    .main-header__btn{
        width: 130px;
        padding: 10px;
        margin-bottom: 20px;
    }
    .main-header__input{
        width: 85%;
    }
    .main-nav{
        visibility: visible;
        opacity: 1;
        width: 100%;
        margin-top: 20px;
    }
    .menu{
        position: static;
        width: 100%;
        display: flex;
        background: none;
    }
    .menu__link{
        color: black;
    }
    .menu__link:hover{
        background: black;
        color: white;
    }
    .container-products {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }
    .main-footer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
    .copy{
        grid-column-start: span 4;
        text-align: center;
    }
}
@media screen and (min-width:1280px){
    .container{
        width: 1200px;
    }
    .main-header__container:nth-child(2){
        font-size: 1.3em;
    }
    .main-header__container:nth-child(3){
        padding-left: 50px;
    }
    .slider{
        height: 500px;
        font-size: 1.5em;
    }
}
@media screen and (min-width:1600px){
    .container{
        width: 1500px;
    }
    .main-header__container:nth-child(2){
        font-size: 1.5em;
    }
    .main-header__container:nth-child(3){
        padding-left: 100px;
    }
    .slider{
        height: 600px;
    }
}